* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-left: auto;
    margin-left: auto;
}
.logo{
    margin-top: 300px;
    margin-left: 227px;
}
.main__title{
    color: #232D42;
    font-size: 33px;
    font-style:- normal;
    font-weight: 400;
    line-height: 130%;
}

